/Assignment/build
/Assignment/nbproject/private
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
/Assignment/dist/

# Created by https://www.toptal.com/developers/gitignore/api/netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
/Assignment/build/
/Assignment/nbbuild/
/Assignment/dist/
/Assignment/nbdist/
/Assignment/.nb-gradle/

# End of https://www.toptal.com/developers/gitignore/api/netbeans